<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <mat-grid-list [cols]="breakpoint" 
  rowHeight="70px" 
  gutterSize="15px"
  (window:resize)="onResize()">
    <div *ngIf="data.itemData">
      <mat-grid-tile *ngFor="let item of data.tableInfo">
        <mat-label>{{ item.title }}</mat-label>
        <input matInput disabled [value]="item.customFormat && data.itemData[item.model] ? 
        item.customFormat(data.itemData[item.model]) : 
        data.itemData[item.model] ? data.itemData[item.model] : '---'">
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="primary">Fechar</button>
</mat-dialog-actions>