<div *ngIf="currentUser; else loggedOut">
  <h1>Perfil</h1>
  <hr/>
  <p>
    <strong>Perfil:</strong>
    {{ currentUser.username }}
  </p>
  <p>
    <strong>Token:</strong>
    {{ currentUser.token.substring(0, 8) }} ...
  </p>
  <p *ngIf="currentUser.admin === true">
    <strong>Admin:</strong>
    Sim
  </p>
  <p *ngIf="currentUser.admin === false">
    <strong>Admin:</strong>
    Não
  </p>
</div>

<ng-template #loggedOut>
  <h1>Faça login.</h1>
</ng-template>
