<!-- <h1>Motos Teste</h1>
<hr /> -->
<!-- <app-motorcycle-list></app-motorcycle-list> -->
<app-custom-table
  *ngIf="dataSource"
  title="Motos"
  icon="two_wheeler"
  [tableInfo]="info"
  [dataSource]="dataSource"
  (onDelete)="deleteItem($event)"
>
</app-custom-table>
