<mat-grid-list cols="1" rowHeight="4:1" class="borda" [ngClass]="{disabled: !isLogged()}">
    <!-- rowHeight="4:1" mas esta cortando a logo quando redimensiona -->
    <mat-grid-tile >
        <div class="text-center">
            <img src="assets/images/logo.png" alt="logo" >
            <!-- <p>
                <mat-icon class="icone v-middle" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                <span class="bemvindo">
                    Seja bem vindo ao Kacique 1.0.0 :)

                </span>
            </p> -->
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!isLogged()">
        <form name="form" *ngIf="!isLogged()" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <mat-form-field appearance="outline">
                <mat-label>Usuário</mat-label>
                <input matInput placeholder="Usuário" name="username" [(ngModel)]="form.username" #username="ngModel">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="username.errors && f.submitted">
                    {{ errorMessage }}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="form.password" #password="ngModel" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>
            {{hide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>


                <mat-error *ngIf="password.errors && f.submitted">
                    {{ errorMessage }}
                </mat-error>
            </mat-form-field>


        </form>
    </mat-grid-tile>
    
</mat-grid-list>