/* form {
  display: flex;
  flex-direction: column;
} */

button {
  margin-right: 10px;
}
.mat-grid-list {
  margin: 50px 0 20px 0;
}
.mat-form-field {
  width: 100%;
}
.mat-card-footer {
  padding: 0 15px 15px 15px;
}