
h1.example-app-name {
    margin-left: 8px;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

#app {
    min-height: calc(100vh - 144px);
    background-color: rgb(45, 45, 45);
    margin-top: 16px;
}

.icon {
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.background {
    background-color: rgb(45, 45, 45);
}