<form *ngIf="financeForm" [formGroup]="financeForm">
  <mat-card-title *ngIf="!hasData">Criar Financeiro</mat-card-title>
  <mat-card-title *ngIf="hasData">Editar Financeiro</mat-card-title>
  <mat-card-subtitle>Informações Financeira</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-grid-list cols="4" rowHeight="128px" gutterSize="2px">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category" #category 
            (selectionChange)="onSetName(category.value)">
            <mat-option value="Mensalidade">Mensalidade</mat-option>
            <mat-option value="Outros">Outros</mat-option>
          </mat-select>
        <mat-icon matSuffix>book</mat-icon>
        <mat-error *ngIf="financeForm.controls.category.invalid">
          {{ getErrorMessage('category') }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>        
        <mat-select formControlName="name">
          <mat-option *ngFor="let name of names" value="{{ name.key }}">
            {{ name.value }}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="financeForm.controls.name.invalid">
          {{ getErrorMessage('name') }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Operação</mat-label>
        <mat-select 
          formControlName="operation"
        >
          <mat-option value="Receitas">Receitas</mat-option>
          <mat-option value="Despesas">Despesas</mat-option>
        </mat-select>
        <mat-icon matSuffix>data_object</mat-icon>
        <mat-error *ngIf="financeForm.controls.operation.invalid">
          {{ getErrorMessage('operation') }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Método</mat-label>
        <mat-select formControlName="method">
          <mat-option value="Pix">Pix</mat-option>
          <mat-option value="Permuta">Permuta</mat-option>
        </mat-select>
        <mat-icon matSuffix>data_object</mat-icon>
        <mat-error *ngIf="financeForm.controls.method.invalid">
          {{ getErrorMessage('method') }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Data</mat-label>
        <input 
          matInput
          [matDatepicker]="date"
          formControlName="date"
        >
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
        <mat-error *ngIf="financeForm.controls.date.invalid">
          {{ getErrorMessage('date') }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field 
        appearance="fill"
        floatLabel="always">
        <mat-label>Valor</mat-label>
        <input 
          matInput
          formControlName="value"
          type="number" 
          class="example-right-align"
          placeholder="0"
        >        
        <span matSuffix>.00</span>
        <mat-error *ngIf="financeForm.controls.value.invalid">
          {{ getErrorMessage('value') }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>        
        <input matInput placeholder="Descrição" formControlName="description">
        <mat-icon matSuffix>book</mat-icon>
        <mat-error *ngIf="financeForm.controls.description.invalid">
          {{ getErrorMessage('description') }}
        </mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="6" rowHeight="64px">
    <mat-divider></mat-divider>
    <mat-grid-tile>
      <button 
        mat-raised-button
        (click)="onSubmit()">
        Salvar
      </button>
      <button 
        mat-raised-button
        (click)="onCancel()">
        Cancelar
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
