<div>
	<div class="title-head">
		<mat-icon>{{ icon }}</mat-icon>
		<h1>{{ title }}</h1>

		<button class="left-margin" 
		color="primary"
		(click)="clickAction('add')"
		mat-raised-button>
			Adicionar
			<mat-icon>add</mat-icon>
	  	</button>
	</div>
	<mat-divider></mat-divider>
	
	<div class="content-area">
		<mat-form-field class="filter" appearance="outline">
			<mat-label>Filter</mat-label>
			<input matInput (keyup)="applyFilter($event)" placeholder="Ex. John Doe" #input>
		</mat-form-field>
		
		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
				<div *ngFor="let item of tableInfo">
					<ng-container *ngIf="item.showOnTable" [matColumnDef]="item['model']">
						<th mat-header-cell *matHeaderCellDef mat-sort-header> {{ item.title }} </th>
						<td mat-cell *matCellDef="let row"> {{ item.customFormat ? item.customFormat(row[item.model]) : row[item.model] }} </td>
					</ng-container>
				</div>
	
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef class="text-center"> Ações </th>
					<td mat-cell *matCellDef="let element" colspan="1">
						<div class="flex-center">
							<div class="actions">
								<button (click)="openViewDialog(element._id.$oid)"
									mat-mini-fab color="primary" aria-label="Edit button">
									<mat-icon>search</mat-icon>
								</button>
								<button (click)="clickAction('edit', element)"
									mat-mini-fab color="basic" aria-label="Edit button">
									<mat-icon>edit</mat-icon>
								</button>
								<button (click)="openRemoveDialog(confirmRemove, element._id.$oid)"
									mat-mini-fab color="warn" aria-label="Delete button">
									<mat-icon>delete</mat-icon>
								</button>
							</div>
						</div>
					</td>
				</ng-container>
	
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!-- Title -->
				<tr mat-row *matRowDef="let element; columns: displayedColumns;"
					class="table-row"> <!-- Content -->
				</tr>
	
				<!-- Row shown when there is no matching data. -->
				<tr class="mat-row" *matNoDataRow>
					<td class="mat-cell" [attr.colspan]="displayedColumns.length">
						Nenhum registro correspondeu à sua pesquisa: {{ input.value }}
					</td>
				</tr>
				
			</table>
			<mat-paginator 
				[pageSizeOptions]="[5, 10, 25, 50]" 
				showFirstLastButtons
				aria-label="Select page of users">
			</mat-paginator>
		</div>
	</div>
  </div>

<ng-template #confirmRemove>
	<h2 mat-dialog-title>Atenção!</h2>
	<div mat-dialog-content>Deseja realmente excluir este item?</div>
	<div mat-dialog-actions>
	  <button mat-button mat-dialog-close color="primary" mat-raised-button>Cancelar</button>
	  <button mat-button [mat-dialog-close]="true" color="warn" mat-raised-button>Excluir</button>
	</div>
</ng-template>