button {
    margin-right: 10px;
}

.mat-card-footer {
    padding: 0 15px 15px 15px;
}

.mat-card-subtitle {
    font-size: 1.2em;
}

.mat-form-field {
    width: 100%;
}

.mat-grid-list {
    margin: 50px 0 20px 0;
}

.mat-spinner {
    display: inline;
    left: -20px;
    bottom: 9px;
}